@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');



.nav-bar {
    border: solid #B45309;
    padding-bottom: 1rem;
    padding-top: 2rem;
    text-align: right;
    background-color: #B45309;
    margin-top: 0rem;
    border-end-start-radius: 3rem;
    border-top-left-radius: 3rem;
}

.nav-btn {
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 0rem;
    color: #FFFBEB;
    font-size: large;
    font-weight: bold;
}

body {
    font-family: Lato;
    font-weight: bold;
    background-color: #FEF3C7;
    text-align: center;
}
.trio-head {
    margin-right: 65rem;
    font-family: 'Caveat', cursive;
    font-size: 200%;
    color: #FEF3C7;    
}

h1 {
    font-family: Montserrat;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color:#78350F;
}

#submit-answer-btn {
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #78350F;
    border: 1px solid #FEF3C7;
    border-radius: 5rem;
    padding: 0.5rem .5rem;
    margin-top: 1rem;
    color:#FFFBEB;
}