@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Lato;
    font-weight: bold;
    background-color:#FFFBEB;

    text-align: center;

}






h1 {
    font-family: Montserrat;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color:

        #6B7280;
}


label {
    font-size: 1.2rem;
    display: block;
    margin: 0.5rem auto 0;
    
}

input {
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid #065F46;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
    width: 8rem;
    padding: 0.6rem 1.25rem;
    margin-bottom: 2rem;
}
h4 {
    font-style:oblique;
    
}

#area-btn {
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color:
        #065F46;
    border: 1px solid #10B981;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 1.2rem auto;
    color: bisque;
}
.nav-bar {
    border: solid;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-align: right;
    
    margin-top: 0rem;
    
    
    
}
.nav-btn {
    padding: 0.5rem;
    text-decoration: none;
    
}
#is-triangle-btn {font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color:
    #D97706;
    border: 1px solid #10B981;
    border-radius: 0.5rem;
    padding: 0.5rem .5rem;
    margin-top: 0rem;
    color: 
    #78350F;}